<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">ようこそ HANE サーバーへ</span>
        <span id="welcomeDescription">私たちの夢は、いろいろな配信者、視聴者、そしてMinecraftが好きな人が集まり、楽しく遊べる場所を提供することです。誰でもいつでも気軽に来て、友達と楽しく遊ぶことができ、時には配信者の企画に参加できたりもする場所になれたらいいなと考えています。あなたもぜひ遊びにきて、一緒にサーバーを盛り上げていきましょう！！きっと楽しい場所になりますよ。</span>
        <br>
        <span id="welcomeDescCTA">数クリックで HANE サーバーへ参加できます。</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                参加する
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>